﻿@model ExamenMVC.Web.Funcionalidades.ViewModels.ListaEmpresasViewModel


<div id="DeleteEmpresa">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h3>¿Está seguro de eliminar este registro?</h3>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Ruc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ruc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RazonSocial)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RazonSocial)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>                
            </div>
        </div>
                    
        }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
