﻿@model ExamenMVC.Web.Funcionalidades.ViewModels.ListaEmpresasViewModel
@{ 
    ViewBag.Title = "Aviso de error";
}
<div id="errorModal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="modal-body">
                    <p>No se puede eliminar una empresa con facturas</p>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}