﻿@model IEnumerable<ExamenMVC.Web.Funcionalidades.ViewModels.ListaEmpresasViewModel>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Empresas x Usuario</h2>

<p>
    @Ajax.ActionLink("Nuevo", "Registrar", "Empresa", null, new AjaxOptions { HttpMethod = "GET" }, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ruc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rubro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ruc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rubro)
        </td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-xs"
                        data-toggle="dropdown">
                    <span>
                        <i class="glyphicon glyphicon-cog"></i>
                        <span class="caret"></span>
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Ajax.ActionLink(" Editar", "Editar", "Empresa"
                                , new { id = item.Id }
                                , new AjaxOptions
                                {
                                    HttpMethod = "Get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "EditarEmpresaForm"
                                }
                                ,
                                new
                                {
                                    @class = "glyphicon glyphicon-edit",
                                    data_toggle = "modal",
                                    data_target = "#EditarEmpresaForm"
                                }
                                )
                    </li>                    
                    <li>

                        @Ajax.ActionLink(" Eliminar", "Eliminar", "Empresa"
                                    , new { id = item.Id }
                                    , new AjaxOptions
                                    {
                                        HttpMethod = "Get",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "EliminarEmpresaForm"
                                    }
                                    ,
                                    new
                                    {
                                        @class = "glyphicon glyphicon-trash",
                                        data_toggle = "modal",
                                        data_target = "#EliminarEmpresaForm"
                                    })
                    </li>
                    <li class="divider"></li>
                    <li>
                        @Ajax.ActionLink(" Agregar Facturas", "Registrar", "Factura"
                                , new { id = item.Id}
                                , new AjaxOptions
                                {
                                    HttpMethod = "Get"
                                }
                                ,
                                new
                                {
                                    @class = "glyphicon glyphicon-plus-sign"
                                }
                                )
                    </li>
                    <li>

                        @Ajax.ActionLink(" Ver Facturas", "Ver", "Factura"
                                    , new { id = item.Id }
                                    , new AjaxOptions
                                    {
                                        HttpMethod = "Get"
                                    }
                                    ,
                                    new
                                    {
                                        @class = "glyphicon glyphicon-eye-open"
                                    })
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>

<div id="EditarEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EditarEmpresalabel"
     aria-hidden="true">
</div>

<div id="EliminarEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EliminarEmpresalabel"
     aria-hidden="true">
</div>

