﻿@model ExamenMVC.Web.Funcionalidades.ViewModels.VerFacturaViewModel

<div id="DeleteFactura">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h3>¿Está seguro de eliminar este registro?</h3>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FechaEmision)
                        </dt>

                        <dd>
                            @Html.HiddenFor(model => model.Numero)
                            @Html.DisplayFor(model => model.FechaEmision)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RucCliente)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RucCliente)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RazonSocialCliente)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RazonSocialCliente)
                        </dd>
                    </dl>

                </div>
                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                    </div>
                </div>                    
            </div>
        </div>
    }
</div>
