﻿@model IEnumerable<ExamenMVC.Web.Funcionalidades.ViewModels.VerFacturaViewModel>

@{
    ViewBag.Title = "Ver";
}

<h2>Ver Factura</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RucCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocialCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalImpuesto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.HiddenFor(modelItem => item.EmpresaId)            
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>            
            @Html.DisplayFor(modelItem => item.FechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RucCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocialCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalImpuesto)
        </td>        
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-xs"
                        data-toggle="dropdown">
                    <span>
                        <i class="glyphicon glyphicon-cog"></i>
                        <span class="caret"></span>
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Ajax.ActionLink(" Editar", "Editar", "Factura"
                                , new { id = item.Numero }
                                , new AjaxOptions
                                {
                                    HttpMethod = "Get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "EditarFacturaForm"
                                }
                                ,
                                new
                                {
                                    @class = "glyphicon glyphicon-edit",
                                    data_toggle = "modal",
                                    data_target = "#EditarFacturaForm"
                                }
                            )
                    </li>
                    <li>

                        @Ajax.ActionLink(" Eliminar", "Eliminar", "Factura"
                                    , new { id = item.Numero }
                                    , new AjaxOptions
                                    {
                                        HttpMethod = "Get",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "EliminarFacturaForm"
                                    }
                                    ,
                                    new
                                    {
                                        @class = "glyphicon glyphicon-trash",
                                        data_toggle = "modal",
                                        data_target = "#EliminarFacturaForm"
                                    })
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}               

</table>

<div>
    @Html.ActionLink("Regresar a Empresas", "Lista", "Empresa")
</div>

<div id="EditarFacturaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EditarFacturaFormlabel"
     aria-hidden="true">
</div>

<div id="EliminarFacturaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EliminarFacturalabel"
     aria-hidden="true">
</div>